.main-header
  .main-header__left-box
    %h2.main-header__left-box__current-group
      = group.name
    %ul.main-header__left-box__member-list
      Member:
      %li.main-header__left-box__member-list__member
        - if @group_member.present?
          - @group_member.each do |g|
            = g.name
  = link_to "" do
    .main-header__edit-btn
      Edit